<div class="path_bar">
  <%= link_to entries_path do%>
      <i class="fa-solid fa-arrow-left"></i>  Back to my journal
  <% end %>
</div>

<div class="container-devise">
  <div class="row">

    <div class="col-sm-12 col-lg-4">
      <div>
        <%= image_tag('gros-plan-femme-dactylographie-ordinateur-portable-dans-cafe-restaurant.jpg', class: 'image-devise') %>
      </div>
    </div>

    <div class="container-form col-sm-12 col-lg-8" data-controller="annotate">
      <h2><span data-annotate-target="underline">Edit my account</span></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="row names">
            <div class="col-sm-12 col-lg-6">
                <%= f.input :first_name,
                            required: true,
                            input_html: { autocomplete: "first_name" }%>
            </div>
            <div class="col-sm-12 col-lg-6">
                <%= f.input :last_name,
                            required: true,
                            input_html: { autocomplete: "last_name" }%>
            </div>
          </div>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :current_password,
            hint: "We need your current password to confirm your changes",
            required: true,
            input_html: { autocomplete: "current-password" } %>

          <%= f.input :password,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <div>
            <%= f.button :submit, "UPDATE", class:"button" %>
          </div>
          <div><%= button_to "DELETE MY ACCOUNT", registration_path(resource_name),
                                                data: { confirm: "Are you sure?",
                                                turbo_confirm: "Are you sure?" },
                                                method: :delete,
                                                class:"delete-button" %>
          </div>
        <% end %>

      </div>

    </div>
</div>
