<div class="container">
  <div class="row">
    <div class="entries_flex" style="margin-top: 100px">
      <div class="entries_logo">
        My Entries
      </div>

      <div class="gratefulness">
          <%= render "daily_gratefulness"%>
      </div>
    </div>

    <div class="entries_flex" style="gap:100px;">
      <div>
        <%= link_to "NEW ENTRY", new_entry_path, class: "button px-5" %>
      </div>
      <div>
        <%= render "calendar_search" %>
      </div>
    </div>

    <div class="entries_cards" >
        <%@entries.each do |entry|  %>
        <button class="btn" onclick="location.href='/entries/<%=entry.id%>/edit'" >
          <div class="entries_card">
              <%= render "entries_card", entry: entry %>
          </div>
        </button>
        <% end %>
    </div>
  </div>
</div>
