<div class="container">
  <div class="row">
    <div class="entries_flex" style="margin-top: 100px;" data-controller="annotate">
      <div class="entries_logo col-5">
        <span data-annotate-target="underline">My Entries</span>
      </div>

      <div class="gratefulness px-3 col">
          <%= render "daily_gratefulness"%>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-around" style="gap:390px;">
    <div class="mt-2">
      <%= link_to new_entry_path, class: "button" do%>
        <i class="fa-solid fa-pen"></i> NEW ENTRY
      <% end %>
    </div>

    <div class="d-flex justify-content-around align-items-center" >
      <%= render "calendar_search" %>
    </div>
  </div>

  <div class="row mx-auto my-auto">
    <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <%= render 'carousel_entries', entries_by_months: @entries_by_months %>
      </div>
    </div>
  </div>

  <div class="good_memory">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <%= render 'happy_memory', good_memory: @good_memory %>
      </div>
    </div>
  </div>

</div>
