
<div class="container">
    <div>
        <%= render "daily_gratefulness" %>
    </div>

    <div>
        <h3>Your Recent entries</h3>
        <%@entries.each do |entry|  %>

            <ul>
            <%= "Sentiment: #{entry.sentiment}" %>
            <br>
            <%= "#{entry.content}" %>
            <br>
            <%=link_to "Edit",
                    edit_entry_path(entry) %>
            <%=link_to "Delete",
                    entry_path(entry),
                    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </ul>
        <% end %>
    </div>

     <%= link_to "New", new_entry_path %>
</div>
