<%# --FIRST BLOCK (INTRO)-- %>
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="entries_flex" style="margin-top: 100px;" data-controller="annotate">

        <div class="entries_logo col-5">
          <span data-annotate-target="underline">My journal</span>
        </div>

        <div class="gratefulness px-3 col">
            <%= render "daily_gratefulness"%>
        </div>

      </div>
    </div>
  </div>
</div>
<%# --FIRST BLOCK (end)-- %>

<div class="container-content py-5">

<%# --SECOND BLOCK (NEW, SEARCH AND CAROUSEL)-- %>
<div data-controller="filter-entries">
  <div class="d-flex justify-content-between align-content-center">
    <%= link_to new_entry_path, class: "new_button" do%>
      <i class="fa-solid fa-pen"></i> WRITE A NEW ENTRY
    <% end %>

      <%# CALENDRAR FORM %>
    <div class="d-flex justify-content-around align-items-center" >
      <div>
        <%= render "calendar_search" %>
      </div>
    </div>
  </div>

  <%# NEW USER IF/STATEMENT %>
  <% if @entries.count == 0 %>
    <h2 class="light-h2 text-center">
      Welcome! Once you start writing in your journal, Day by Day's AI will
      identify obstacles are facing and provide tactics to help you face them
    </h2>
  <% end %>

    <%# ALL ENTRIES FOR SEARCH %>
    <div class="row list hidden" data-filter-entries-target="list">
        <% render "entries_cards", entries: @entries %>
    </div>

    <%# CAROUSEL %>
    <div class="mt-2" data-filter-entries-target="carousel">
      <swiper-container class="carousel" navigation="true">
        <%= render 'carousel_entries', entries_by_months: @entries_by_months %>
      </swiper-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    </div>

<%# --SECOND BLOCK (end)-- %>

  <%# --THIRST BLOCK (GOOD MEMORY)-- %>

<% unless @good_memory.nil? %>
  <div class="good_memory">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <%= image_tag('good_memory.png') %>
      </div>
      <div class="col-sm-12 col-lg-6">
        <%= render 'happy_memory', good_memory: @good_memory %>
      </div>
    </div>
  </div>
<% end %>

  <%# --THIRST BLOCK (end)-- %>
</div>
