
<div class="container">
    <div>
        <%= render "daily_gratefulness" %>
    </div>

    <div>
        <h3>Your Recent entries</h3>

        <br>

        <div class="d-flex justify-content-between">
            <%= link_to "New", new_entry_path, class: "button" %>

            <div>
                <%= render "calendar_search" %>
            </div>
        </div>

        <br>

        <div class="d-flex justify-content-between mx-5" style="gap:10px">
            <%@entries.each do |entry| %>
                <button class="btn" onclick="location.href='/entries/<%=entry.id%>/edit'" >
                    <div class="entries_card">
                        <%= render "entries_card", entry: entry %>
                    </div>
                </button>
            <% end %>
        </div>

    </div>
</div>
