<div class="container-content" data-controller="saved">
<div class="row">
  <%= simple_form_for @entry do |f| %>
    <div class="my-4">
    <%= link_to entries_path do%>
        <i class="fa-solid fa-arrow-left"></i>  Back to my entries
    </div>
    <% end %>
    <div class="d-flex align-items-center justify-content-between mb-5 mt-5">
      <div>
        <p style="font-size: 35px;font-weight: bold;"><%= Date.today.strftime('%A, %B %d')  %></p>
      </div>
      <div>
        <button type="submit" class="save_button" data-action="click->saved#checked">SAVE</button>
        <div class="saved hidden" data-saved-target="valid">
          <p><%= "Saved" %><i class="fa-solid fa-check"></i></p>
        </div>
      </div>
    </div>
    <%= f.rich_text_area :rich_body, class:"entry_new" %>
  <% end%>
</div>
