<div class="container-devise">
    <div class="row">

      <div class="col-sm-12 col-lg-4">
        <div>
          <%= image_tag('gros-plan-femme-dactylographie-ordinateur-portable-dans-cafe-restaurant.jpg', class: 'image-devise') %>
        </div>
      </div>

      <div class="container-form col-sm-12 col-lg-8" data-controller="annotate">

        <h2>Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "RESET PASSWORD", class:'button' %>
          </div>
        <% end %>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <div class="mt-5">No account yet?
           <%= link_to "Sign up", new_registration_path(resource_name)%><br />
          </div>
        <% end %>
        Find your password? <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
