<div class="container">

  <h1><%= @obstacle.title %></h1>
  <br>
  <%= @obstacle.done == false ? (button_to "I solved this obstacle", done_path, method:'patch') : "This obstacle is solved" %>

  <% @recommendations.each do |recommendation| %>
    <%= render "recommendation_card", recommendation: recommendation %>
  <% end %>


  <h2>Entries relevant to this obstacle</h2>
  <div class="row">
    <div class="entries_cards" >
      <% @entries.each do |entry| %>
        <button class="btn w-25" onclick="location.href='/entries/<%=entry.id%>/edit'" >
          <div class="entries_card col-4">
            <%= render "entries/entries_card", entry: entry %>
          </div>
        </button>
      <% end %>
    </div>
  </div>
</div>
