<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="back-link">
        <%= link_to obstacles_path do%>
          <i class="fa-solid fa-arrow-left"></i> Back to all obstacles
        <% end %>
      </div>
      <div class="recos-heading">
        <div>
          <p>OBSTACLE IDENTIFIED</p>
          <h1><%= @obstacle.title %></h1>
          <h2 class="subtitle">Explore science-backed tactics to help you face this challenge</h2>
        </div>
      </div>

        <% if @obstacle.done %>
          <%= render "obstacle_resolved_card" %>
        <% else %>
          <%= (button_to "RESOLVE OBSTACLE", done_path, method:'patch', class:"bootstrap-override-button mt-2 mb-5") %>
        <% end %>

    </div>

  <%# Loading block REMOVED %>
    <%# <div data-controller="loading" data-loading-id-value="<%= @obstacle.id %>

      <%# <div class="text-center loading_card" data-loading-target="loadingCard">
        <div class="loading_margins">
          <h2 class="loading_text">Generating personalized recommendations that will help you solve your obstacle...</h2>
          <%= image_tag "loading.gif", class: "loading_gif" %>
        <%# </div> %>
      <%# </div> %>

  <%# Recommendation cards %>
      <div class="reco-cards row" data-loading-target="recoCards">
        <% @recommendations.each do |recommendation| %>
          <div class="reco-card">
            <%= render "recommendation_card", recommendation: recommendation %>
          </div>
        <% end %>
      </div>
    <%# </div> %>

    <br>
    <br>

  <%# Relevant entries block %>
    <div class="pb-5">
      <h2>Entries relevant to this obstacle</h2>
      <div class="row">
        <div class="entries_cards" >
          <% @entries.each do |entry| %>
            <a href="<%= edit_entry_path(entry) %>">
              <div class="entries_card col-4">
                  <%= render "entries/entries_card", entry: entry %>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
