<div class="container">
  <div class="row">
    <div class="recos-heading">
      <h1 class="mt-5 mb-5"><%= @obstacle.title %></h1>
      <br>
      <%# <%= @obstacle.done == false ? (button_to "I solved this obstacle", done_path, method:'patch') : "This obstacle is solved" %>
      <% if @obstacle.done %>
        <%= render "obstacle_resolved_card" %>
      <% else %>
        <%= (button_to "I solved this obstacle", done_path, method:'patch') %>
      <% end %>
    </div>
  </div>

<div class="reco-cards">
  <% @recommendations.each do |recommendation| %>
    <div class="reco-card">
      <%= render "recommendation_card", recommendation: recommendation %>
    </div>
  <% end %>
</div>

  <h2>Entries relevant to this obstacle</h2>
  <div class="row">
    <div class="entries_cards" >
      <% @entries.each do |entry| %>
        <button class="btn w-25" onclick="location.href='/entries/<%=entry.id%>/edit'" >
          <div class="entries_card col-4">
            <%= render "entries/entries_card", entry: entry %>
          </div>
        </button>
      <% end %>
    </div>
  </div>
</div>
